<ion-view view-title="Chorno Science" class="loginPage">
  <ion-content padding="true" scroll="true" ng-show="!isError">

<center>
<img src="./img/loginLogo.png" width=100%>
</center>
<!-- <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-aperture placeholder-icon"></i>
    <input type="text" placeholder="ID" ng-model="loginFields.email">
  </label>
</div>
<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-lock-combination placeholder-icon"></i>
    <input type="text" placeholder="PIN" ng-model="loginFields.pw">
  </label>
</div> -->

<button class="button button-block button-positive" ng-click="showLogin()">
登入員工系統
</button>
<a class="button button-block button-assertive" href="http://facebook.com/ouhk.11th.ssc">
香港公開大學電腦學會專頁
</a>

  </ion-content>
</ion-modal-view>
