/*.pane {
    background-color: #000;
} Empty. Add your own CSS if you like 

*/


.loginPage{
    background: url("../img/bg.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}


#timer-bg {
 background: #000  !important;


}
#neon-timer{

font-family: "OCRAEXT";
	 color: #39FF14;
}


#neon-timer-off{

font-family: "OCRAEXT";
	 color: #8c8c8c;
}


/*
#qr-item {
 background: #FFFFFF  !important;


}*/