  <style>.popover {/* height:500px; */width: 90%; }</style>


  <ion-popover-view cache-view="false">
<ion-header-bar align-title="left" class="bar-dark">
訊息中心

</ion-header-bar>



<ion-content scroll="true">
<ion-list>
<ion-item  class="item-text-wrap"  ng-repeat=" n  in game.notifications   |orderBy:'created_at':true track by n.id"" >
 <center >
{{n.message}} </center>

<br><div align="right">
   <h5>{{ timeSince(n.created_at)}} </h5>
</div>

 </ion-item>

  </ion-list>
  </ion-content>
</ion-popover-view>